body{
  margin: 0;
overflow-x: hidden;
}

.letters{
height: 70px;
position: absolute;
left: 5%;
color:  #27A365;
font-size:xx-large;
}

.greyLetter{
  color:  #5C5D5D;
}

.title-img{
z-index: -1;
  position: absolute;
width: 110%;
height: 440px;
left: 0px;
top: 72px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.title{
  position: absolute;
  width: 378px;
  height: 47px;
  left: 200px;
  top: 358px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  color: #FFFFFF;
}

.title-para{
position: absolute;
width: 327px;
height: 23px;
left: 200px;
top: 409px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
}

.line{
position: absolute;
width: 100%;
height: 0px;
left: 72px;
top: 544px;
opacity: 0;
border: 1px solid #E0E0E0;
}

.search-bar{
  position: absolute;
width: 360px;
height: 42px;
left: 540px;
top: 16px;
background: #F2F2F2;
border-radius: 21px;
}

#header-search{
  border: none;
  position: absolute;
  margin-top: 0;
  padding-top: 10px;
 top: 1px;
 left: 90px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background-color: #F2F2F2;
}

.fa-search{
position: absolute;
right:16.03px;
left: 16.03px;
top: 16.03px;
bottom: 16.03px;
color: #7A7A7A;
}

.Navigation{
  position: absolute;
  width: 1030px;
  height: 21px;
  left: 200px;
  top: 559px;
   font-family: math;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.fa-pen{
visibility: hidden;
}

.line1{
  position: absolute;
width: 1040px;
height: 0px;
top: 50px;
color: black;
border: 1px solid #E0E0E0;
}

.login{
position: absolute;
width: 183px;
height: 21px;
left: 80%;
top: 20px;
padding: 0;
font-style: normal;
font-weight: 500;
font-size: 16px;
text-align: right;
}

.postEditer{
  position: absolute;
  width: 125px;
  height: 36px;
  left: 75%;
  top: 10px;
  border-radius: 4px;
 }

.group{
position: absolute;
width: 125px;
height: 36px;
left: 90%;
top: 10px;
}

.Article{
position: relative;
width: 692px;
height: 472px;
left: 218px;
top: 628px;
margin-top: 16px;
background: #FFFFFF;
border: 1px solid #E0E0E0;
border-radius: 4px;
}

.Article-img{
    height:220px ;
    width:691px;
}

.Job{
  position: relative;
width: 692px;
left: 218px;
top: 628px;
margin-top: 16px;
background: #FFFFFF;
border: 1px solid #E0E0E0;
border-radius: 4px;
padding-bottom: 3%;
}

.Subject{
position: absolute;
padding-left: 20px;
padding-right: 92px;
padding-top: 55px;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 134.17%;
color: #000000;
}

.PostType{
  position: absolute;
padding-left: 20px;
padding-top: 20px;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
color: #000000;
}

.Description{
position: absolute;
left: 20px;
top: 73%;
font-family: math;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 134.17%;
color: #525252;
}

.Description2{
  position: absolute;
  left: 20px;
top: 100px;
  font-family: math;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 134.17%;
  color: Black;
  }

.Location{
  position: absolute;
  left: 50%;
  top: 100px;
  font-family: math;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 134.17%;
  color: Black;
}

.jobApply{
  position:absolute;
  left: 5%;
  height: 17%;
  width: 90%;
  top: 130px;
}

.profileImage{
width: 48px;
height: 48px;
border-radius: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  margin-top:  184px;
margin-left: 20px;
}

li {
  float: left;
  display: block;
  text-decoration: none;
}

.ProfileMenu {
text-align: center;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;
color: #000000;
}

.profileName{
  padding-top:12px;
  margin-left: 10px;
}

.eyeIcon{
position: absolute;
color: #525252;
padding-top:12px;
left: 50%;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
text-align: right;
color: #525252;
}

.eyejob{
position: absolute;
color: #525252;
padding-top:12px;
left: 50%;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
text-align: right;
color: #525252;
}

#share{
background: #EDEEF0;
color: #2D2D2D;
border-radius: 2px;
padding: 12.5px;
position: absolute;
left: 90%;
}

#ellipsis{
  position: absolute;
right: 5%;
}

@media (max-width: 800px){
  body{
    margin: 0;
  overflow-x: hidden;
  }

.header{
display: none;
}

.title{
  top: 280px;
  left: 15%;
  font-size: 2rem;
}

.title-img{
  width: 140%;
  top: 0;
}

.title-para{
  top: 320px;
  left:15%;
  font-size: 1rem;
}

.group{
  visibility: hidden;
  }

.line1{
  position: absolute;
width:100%;
top: 40px;
right: 5%;
border: 1px solid #E0E0E0;
}

.Navigation{
  position: absolute;
  width: 100%;
  left:5%;
  top:480px;
   font-family: math;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 21px;
}

#responsive-navbar-nav{
  position: absolute;
  top: 5%;
  left: 70%;
  z-index: 1;
background-color: white;
}

#collasible-nav-dropdown{
  z-index: 1;
}

.Article{
  position: relative;
width: 80%;
height: 35%;
left: 10%;
top: 570px;
margin-top: 16px;
background: #FFFFFF;
border: 1px solid #E0E0E0;
border-radius: 4px;
}

.Job{
  position: relative;
width: 80%;
height: 37%;
left: 10%;
top: 570px;
margin-top: 16px;
background: #FFFFFF;
border: 1px solid #E0E0E0;
border-radius: 4px;
}

.Subject{
position: absolute;
padding-left: 20px;
padding-right: 92px;
padding-top: 55px;
font-style: normal;
font-weight: 600;
font-size: 0.85rem;
line-height: 120%;
color: #000000;
}

.Article-img{
  height:220px;
  width:100%;
}

.PostType{
  position: absolute;
padding-left: 20px;
padding-top: 20px;
font-style: normal;
font-weight: 500;
font-size: 1rem;
line-height: 20px;
color: #000000;
}

.Description{
position: absolute;
left: 20px;
top: 74%;
padding-top: 3%;
font-family: math;
font-style: normal;
font-weight: normal;
font-size: 0.8rem;
line-height: 100%;
color: #525252;
}

.Description2{
  position: absolute;
  left: 20px;
top: 100px;
  font-family: math;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 100%;
  color: Black;
  }

.Location{
  position: absolute;
  left: 66%;
  top: 100px;
  font-family: math;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 130%;
  color: Black;
}

.jobApply{
  position:absolute;
  left: 5%;
  height: 17%;
  width: 90%;
  top: 130px;

}

.profileImage{
  
width: 48px;
height: 48px;
border-radius: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  margin-top:  184px;
margin-left: 20px;
}

li {
  float: left;
  display: block;
  text-decoration: none;
}

.ProfileMenu {
text-align: center;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;
color: #000000;

}

.profileName{
  position: absolute;
  margin-left: 10px;
  font-size: 0.7rem;
line-height: 100%;
bottom: 5%;
}

.eyeIcon{
position: absolute;
color: #525252;
right: 20%;
bottom: 5%;
font-style: normal;
font-weight: 500;
font-size: 0.7rem;
line-height: 100%;
text-align: center;
color: #525252;
}

.eyejob{
position: absolute;
color: #525252;
padding-top:12px;
right: 20%;
bottom: 5%;
font-style: normal;
font-weight: 500;
font-size: 0.7rem;
line-height: 100%;
text-align: right;
color: #525252;
}


#share{
background: #EDEEF0;
color: #2D2D2D;
border-radius: 2px;
padding: 12.5px;
position: absolute;
left: 90%;
}

#ellipsis{
  position: absolute;
right: 5%;
}

 .postEditer{

   Position: fixed;
   z-index: 1;
   width: 40px;
   height: 40px;
margin: 3%;
   right: 100px;
   top:85%;
   left: 85%;
   border-radius: 50px;
  }
  .postVisible{
    visibility: hidden;
  }
  .fa-pen{
    visibility: visible;
  }
  .login{

  position: absolute;
  z-index: 1;
  width: 183px;
  height: 21px;
  left: 60%;
  top: 10px;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: right;
  }

}